<div>
  <h3>{{requestToDisplay?.title}}</h3>
  <h4>{{requestToDisplay?.category}}</h4>
  <p>{{requestToDisplay?.description}}</p>
  <p>{{requestToDisplay?.username}}</p>
  <p>{{requestToDisplay?.email}}</p>
  <hr>
  <p>Amount Requested: {{requestToDisplay?.amount_requested}}</p>
  <p>Current Amount: {{requestToDisplay?.amount_collected}}</p>
  <h4>Donate</h4>

  <label>Donation Amount</label>
  <!-- <input [(ngModel)]="selectedRequest.amount_collected"> -->
  <br>

  <button (click)="beginDonation(requestToDisplay)">Click to donate $100</button>
  <!-- <app-donate [selectedRequest]="request"></app-donate> -->
    <hr>
</div>
<!-- <div *ngFor="let request of requests | async">
  <h3>{{(requestToDisplay | async)?.title}}</h3>
  <h4>{{(requestToDisplay | async)?.category}}</h4>
  <p>{{(requestToDisplay | async)?.description}}</p>
  <p>{{(requestToDisplay | async)?.username}}</p>
  <p>{{(requestToDisplay | async)?.email}}</p>
  <hr>
  <p>Amount Requested: {{(requestToDisplay | async)?.amount_requested}}</p>
  <p>Current Amount: {{(requestToDisplay | async)?.amount_collected}}</p>
  <app-donate [selectedRequest]="request"></app-donate>
    <hr>
</div> -->



<!-- [(ngModel)]="selectedRequest.amount_collected" -->
