<div>
  <app-progress-bar [selectedRequest]="request"></app-progress-bar>
  <h3>{{requestToDisplay?.title}}</h3>
  <h4>{{requestToDisplay?.category}}</h4>
  <p>{{requestToDisplay?.description}}</p>
  <p>{{requestToDisplay?.username}}</p>
  <p>{{requestToDisplay?.email}}</p>
  <hr>
  <p>Amount Requested: {{requestToDisplay?.amount_requested | currency }}</p>
  <p>Current Amount: {{requestToDisplay?.amount_collected | currency }}</p>
  <h4>Donate</h4>

  <label>Donation Amount</label>
  <br>
  <input type="number" #newDonationAmount>
  <button (click)="beginDonation(requestToDisplay, newDonationAmount.value)">Click to donate</button>
    <hr>
  </div>

  <!-- <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{(requestToDisplay | async)?.amount.collected)}}"
  aria-valuemin="0" aria-valuemax="{{(requestToDisplay | async)?.amount.requested)}}" style="width:40%">
    40% Complete (success)
    </div>
  </div> -->
<!-- mode="determinate" value="40" -->
