<div>
  <h3>{{requestToDisplay?.title}}</h3>
  <h4>{{requestToDisplay?.category}}</h4>
  <p>{{requestToDisplay?.description}}</p>
  <p>{{requestToDisplay?.username}}</p>
  <p>{{requestToDisplay?.email}}</p>
  <hr>
  <p>Amount Requested: {{requestToDisplay?.amount_requested}}</p>
  <p>Current Amount: {{requestToDisplay?.amount_collected}}</p>
  <h4>Donate</h4>

  <label>Donation Amount</label>
  <br>

  <button (click)="beginDonation(requestToDisplay)">Click to donate $100</button>
    <hr>
</div>
