<div class="requests">
  <div *ngFor="let request of requests | async" class="card">
    <div class="card-body">
      <h3 (click)="goToDetailPage(request)">{{request.title}}</h3>
      <h4>Submitted by {{request.username}}</h4>
      <p>{{request.category}}</p>
      <p>Goal: {{request.amount_requested | currency}}</p>
      <p>Current Donations: {{request.amount_collected | currency}}</p>
      <div *ngIf="currentRoute === '/admin'">
        <hr>
        <app-edit-request [selectedRequest]="request">  </app-edit-request>
      </div>
    </div>
  </div>
</div>
